<template>
  <keep-alive>
      <v-dialog v-model="dialog" fullscreen hide-overlay persistent transition="dialog-bottom-transition">
          <component :is="currentComponent"  @closed="setDialogStatus" ></component>
      </v-dialog>  
  </keep-alive>
</template>

<script>
    import {mapGetters , mapActions } from 'vuex'
    export default {
        components : {
            Login : () => import('./Login.vue'),
            Register : () => import('./Register.vue'),
            Verification : () => import('./Verification.vue'),
            UpdatePassword : () => import('./UpdatePassword.vue'),
            Createpost : () => import('./CreatePost.vue'),
            Editprofile : () => import('./EditProfile.vue'),
            Regenotpcode : () => import('./Regenotpcode.vue'),
            Commentadd : () => import('./CommentAdd.vue'),
            Createprofile : () => import('./CreateProfile.vue'),
            Editpost : () => import('./EditPost.vue')
        },
        computed : {
            ...mapGetters({
                dialogStatus        : 'dialog/status',
                currentComponent    : 'dialog/component',
            }),
            dialog: {
                get () {
                    return this.dialogStatus
                },
                set (value) {
                    this.setDialogStatus(value)
                }
            }
        },
        methods : {
            ...mapActions({
                setDialogStatus       : 'dialog/setStatus',
            }),
        }
    }
</script>