<template>
<v-card>
    <v-toolbar dark color="primary">
      <v-btn icon dark @click.native="close">
          <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Update Profile id : {{profile.id}} </v-toolbar-title>
    </v-toolbar>
  <v-divider></v-divider>
  <v-container fluid>
  <v-form ref="form">

    <v-text-field
      v-model="umur"
      label="Usia"
      required
    ></v-text-field>

    <v-text-field
      v-model="bio"
      label="Bio"
      required
    ></v-text-field>

    <v-text-field
      v-model="alamat"
      label="Alamat"
      required
    ></v-text-field>
      <div class="text-xs-center">
        <v-btn
          color="primary lighten-1"
          @click="submit(profile.id)"
        >
          Update
          <v-icon right dark>mdi-rename-box</v-icon>
        </v-btn>

        </div>
  </v-form>
  </v-container>
   
  </v-card>

</template>

<script>
import {  mapGetters, mapActions } from 'vuex'

export default {
  data () {
    return{
      username: '',
      name: '',
      email: '',
      password: '',
      umur: '',
      bio: '',
      alamat: '',
      profile: {},
      apiDomain: "http://127.0.0.1:8000",
    }
  },

  computed: {
    ...mapGetters({
      guest : 'auth/guest',
      user : 'auth/user',
      token : 'auth/token'
    }),
      
    },

  methods : {
    ...mapActions({
      setAlert  : 'alert/set',
      
    }),

    close() {
        this.$emit('closed', false)
    },

    getProfile: function () {
          const config = {
              method: "get",
              url: this.apiDomain + "/api/profile_user",
              headers: {
                'Authorization' : 'Bearer ' + this.token,
              },
          }

          this.axios(config)
              .then((response) => {
                  this.profile = response.data.data
                  
                  console.log(response.data.data)
              })
              .catch((error) => {
                  console.log(error)
              })
      },

   submit(profId){
      
      
      const config = { 
        method: "put", 
        url: `${this.apiDomain}/api/profiles/${profId}`,
        
        data : {
          'umur' : this.umur,
          'bio' : this.bio,
          'alamat' : this.alamat,
          'token' : this.token

        }
      }

      this.axios(config)
            .then( () => {
              this.getProfile()
              this.setAlert({
                    status : true,
                    color  : 'success',
                    text  : 'Your profile updated',
                })
                this.close()
              
            })
            .catch( (response) => {
              console.log(response)

                this.setAlert({
                    status : true,
                    color  : 'error',
                    text  : 'Update profile failed',
                })
            })

    }
    
  },
  created(){
      this.getProfile();
    }
}
</script>