<template>
  <v-card>
    <v-toolbar dark color="secondary">
      <v-btn icon dark @click.native="close">
          <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>OTP-Code Verification</v-toolbar-title>
    </v-toolbar>
  <v-divider></v-divider>
  <v-container fluid>
      <v-form ref="form" >
        <v-text-field
          v-model="email"
          label="Masukkan Email"
          required
          append-icon="mdi-email"
        ></v-text-field>

        <div class="text-xs-center">
        <v-btn
          color="primary lighten-1"
          @click="submit"
        >
          Re-Send
          <v-icon right dark>mdi-lock-open</v-icon>
        </v-btn>

       

        </div>
      </v-form>
    </v-container>


   
  </v-card>
</template>

<script>
import {  mapActions } from 'vuex'

export default {
    
  data () {
    return {
      email: '',
      apiDomain: "http://127.0.0.1:8000",

     
    }
  },
  methods : {
    ...mapActions({
      setAlert  : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
    }),

    close() {
        this.$emit('closed', false)
    },

    submit() {
      const config = { 
        method: "post", 
        url: this.apiDomain + "/api/auth/regenerate-otp-code",
        data : {
          'email' : this.email,

        }
      };

      this.axios(config)
            .then( () => {
              
              this.setAlert({
                    status : true,
                    color  : 'success',
                    text  : 'OTP-Code diperbaharui, silakan cek email',
                })
                this.close()
                this.setDialogComponent({'component' : 'verification'})
              
            })
            .catch( (response) => {
              console.log(response)

                this.setAlert({
                    status : true,
                    color  : 'error',
                    text  : 'Regenerate OTP-Code failed',
                })
            })
    },
  },
}
</script>