<template>
  <v-card>
    <v-toolbar dark color="secondary">
      <v-btn icon dark @click.native="close">
          <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Create Password</v-toolbar-title>
    </v-toolbar>
  <v-divider></v-divider>
  <v-container fluid>
      <v-form ref="form" >
        <v-text-field
          v-model="email"
          label="E-mail"
          required
          append-icon="mdi-email"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"         
          :type="showPassword ? 'text' : 'password'"
          label="Password"
          counter
          @click:append="showPassword = !showPassword"
        ></v-text-field>
        <v-text-field
          v-model="password_confirmation"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"         
          :type="showPassword ? 'text' : 'password'"
          label="Password Confirmation"
          counter
          @click:append="showPassword = !showPassword"
        ></v-text-field>

        <div class="text-xs-center">
        <v-btn
          color="primary lighten-1"
          @click="submit"
        >
          Update Password
          <v-icon right dark>mdi-lock-open</v-icon>
        </v-btn>

       

        </div>
      </v-form>
    </v-container>


   
  </v-card>
</template>

<script>
import {  mapActions } from 'vuex'

export default {
   
  data () {
    return {
      email: '',
      password: '',
      password_confirmation: '',
      showPassword: false,
      apiDomain: "http://127.0.0.1:8000",

     
    }
  },
  methods : {
    ...mapActions({
      setAlert  : 'alert/set',
    }),

    close() {
        this.$emit('closed', false)
    },

    submit() {
      const config = { 
        method: "post", 
        url: this.apiDomain + "/api/auth/update-password",
        data : {
          'email': this.email,
            'password': this.password,
            'password_confirmation': this.password_confirmation,

        }
      };

      this.axios(config)
            .then( () => {
              
              this.setAlert({
                    status : true,
                    color  : 'success',
                    text  : 'Password berhasil diupdate',
                })
                this.close()
              
            })
            .catch( (response) => {
              console.log(response)

                this.setAlert({
                    status : true,
                    color  : 'error',
                    text  : 'Update password gagal',
                })
            })




    }
    
  },
}
</script>
