<template>
  <v-card>
    <v-toolbar dark color="secondary">
      <v-btn icon dark @click.native="close">
          <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>OTP-Code Verification</v-toolbar-title>
    </v-toolbar>
  <v-divider></v-divider>
  <v-container fluid>
      <v-form ref="form" >
        <v-text-field
          v-model="otp"
          label="Masukkan OTP-Code"
          required
          append-icon="mdi-text-account"
        ></v-text-field>

        <div class="text-xs-center">
        <v-btn
          color="primary lighten-1"
          @click="submit"
        >
          Verify OTP-Code
          <v-icon right dark>mdi-lock-open</v-icon>
        </v-btn>
        <v-btn
          color="primary lighten-1"
          @click="submit2"
        >
          Re-Send OTP-Code
          <v-icon right dark>mdi-lock-open</v-icon>
        </v-btn>

       

        </div>
      </v-form>
    </v-container>


   
  </v-card>
</template>

<script>
import {  mapActions } from 'vuex'

export default {
    
  data () {
    return {
      otp: '',
      apiDomain: "http://127.0.0.1:8000",

     
    }
  },
  methods : {
    ...mapActions({
      setAlert  : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
    }),

    close() {
        this.$emit('closed', false)
    },

    submit() {
      const config = { 
        method: "post", 
        url: this.apiDomain + "/api/auth/verification",
        data : {
          'otp' : this.otp,

        }
      };

      this.axios(config)
            .then( () => {
              
              this.setAlert({
                    status : true,
                    color  : 'success',
                    text  : 'Email berhasil diverifikasi',
                })
                this.close()
                this.setDialogComponent({'component' : 'update-password'})
              
            })
            .catch( (response) => {
              console.log(response)

                this.setAlert({
                    status : true,
                    color  : 'error',
                    text  : 'OTP-Code salah',
                })
            })
    },

    submit2() {
      this.close()
      this.setDialogComponent({'component' : 'regenotpcode'})
    },
  },
}
</script>
