<template>
  <!-- App.vue -->

<v-app>
  <Alert/>
  <Dialog/>

  <v-navigation-drawer app color="light-blue darken-4" dark v-model="drawer">
    <!-- -->  
  <v-list>
  <v-list-item>
  <v-list-item-avatar>
    <v-img :src="'https://dummyimage.com/16:9x780'"></v-img>
  </v-list-item-avatar>
  <v-list-item-content>
    <v-list-item-title><h3>Share-With-Us Med</h3></v-list-item-title>
  </v-list-item-content>
  </v-list-item>
  </v-list>
  <v-divider></v-divider>

  <v-list v-if=!guest>
     <v-list-item
          v-for="(item, index) in menus" 
          :key="`menu-${index}`" 
          :to="item.route">
          <v-list-item-icon>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
  </v-list>
  <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red lighten-1" @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
  </v-navigation-drawer>

  <v-app-bar app color="light-blue accent-4" dark>
    <v-app-bar-nav-icon @click.stop="drawer =!drawer"></v-app-bar-nav-icon>
    <v-spacer></v-spacer>
      <div class="text-right" v-if="guest">
          <v-btn small text @click="login" class="white--text">
          <v-icon>mdi-lock-open-variant-outline</v-icon>  Login
          </v-btn>
           <v-btn small text @click="register" class="white--text">
          <v-icon>mdi-account</v-icon>  Register
          </v-btn>
      </div>
      <div class="text-right" v-if="!guest">
        <v-list-item>
          
          <v-list-item-content>
            <v-list-item-title>Halo, {{user.name}}</v-list-item-title>
          </v-list-item-content>
          <v-list-item-avatar>
            <v-img :src="'https://randomuser.me/api/portraits/men/57.jpg'"></v-img>
          </v-list-item-avatar>
        </v-list-item>
      </div>
    
  </v-app-bar>

  <!-- Sizes your content based upon application components -->
  <v-main>

    <!-- Provides the application the proper gutter -->
    <v-container fluid>

      <!-- If using vue-router -->
      <router-view></router-view>
    </v-container>
  </v-main>

  <v-footer app>
    <!-- -->
    <small>@Youmelfat2021 | LaraVue</small>
  </v-footer>
</v-app>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'App',
  components: { 
    Alert : () => import ('./components/Alert.vue'),
    Dialog : () => import ('./components/Dialog.vue')
    },

  data: () => ({
    drawer : true,
    menus : [
      {title : 'Home', icon : 'mdi-home', route :'/home'},
      {title : 'My Profile', icon : 'mdi-bio', route :'/profile'},
      {title : 'My Shares', icon : 'mdi-book-edit', route :'/myshare'},
      {title : 'All User', icon : 'mdi-account-group-outline', route :'/users'}
    ],
    apiDomain: "http://127.0.0.1:8000",
  }),

  computed: {
    ...mapGetters({
      guest : 'auth/guest',
      user : 'auth/user',
      token : 'auth/token'
    }),
    },

    methods: {

      register(){
      console.log('register')
      this.setDialogComponent({'component' : 'register'})
      },
      
      logout(){
      console.log(this.token)
      let config = {
        method: 'post',
        url: this.apiDomain + '/api/auth/logout',
        headers: {
          'Authorization' : 'Bearer ' + this.token,
        },
      }
      
      this.axios(config)
        .then( () => {
          this.setToken('')
          this.setUser({})

          this.setAlert({
            status : true,
            color : 'success',
            text : 'Anda berhasil logout',
          })
      })
        .catch( (error) => {
          console.log(error)
          this.setAlert({
            status : true,
            color : 'error',
            text : 'Logout failed',
          })
      })
      
    },

    login(){
      this.setDialogComponent({'component' : 'login'})
    },

    ...mapActions({
      setAlert : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
      setToken : 'auth/setToken',
      setUser : 'auth/setUser',
      checkToken : 'auth/checkToken',
    }),

    },

};
</script>
