<template>
  <div>
    <v-form>
  <Dialog/>
    <br>
      <v-row justify="space-around">
        <v-avatar>
            <v-img :src="'https://picsum.photos/200/300'">></v-img>
        </v-avatar>
      </v-row>
      <br>
      <v-row justify="space-around">
      <h5 class="blue--text"> Followers : {{profile.followers}}  |  Following : {{ profile.followings }} </h5>
      </v-row>
      
    <br>
    <hr>
          <v-simple-table dense>
            <tbody>
              <tr>
                <td> user ID </td>
                <td>{{ user.id }} </td>
              </tr>
              <tr>
                <td> @Username </td>
                <td> {{ profile.username }}</td>
              </tr>
              <tr>
                <td><v-icon>mdi-account</v-icon> Name</td>
                <td>{{ profile.name }} </td>
              </tr>
              <tr>
                <td><v-icon>mdi-email</v-icon> Email </td>
                <td >
                  {{ profile.email }}
                </td>
              </tr>
              <tr>
                <td><v-icon>mdi-tag-faces</v-icon> Usia (tahun) </td>
                <td>
                  {{ profile.umur }}
                </td>
              </tr>
              <tr>
                <td><v-icon>mdi-bio</v-icon> Bio </td>
                <td>
                  {{ profile.bio }}
                </td>
              </tr>
              <tr>
                <td><v-icon>mdi-home-city</v-icon> Alamat </td>
                <td>
                  {{ profile.alamat }}
                </td>
              </tr>
            </tbody>
          </v-simple-table>
      <br><br>
      <v-btn
        small text
        class="blue--text"
        @click="createProfile"
      >
        <v-icon>mdi-face-man-profile</v-icon>Create Profile
      </v-btn>
      <v-btn
        small text
        class="red--text"
        @click="editProfile"
      >
        <v-icon>mdi-pencil</v-icon>Edit Profile
      </v-btn>
    </v-form>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default{
  components: { 
    Dialog : () => import ('../components/Dialog.vue')
    },
  data: () => ({
    profile: {},
    formProfile:'',
    updateProfile: false,
    idSelected: null,
    apiDomain: 'http://127.0.0.1:8000'
  }),
   computed: {
    ...mapGetters({
      user : 'auth/user',
      token : 'auth/token'
    }),
  },

  methods : {
  createProfile() {
       this.setDialogComponent({'component' : 'createprofile'})
    },
    editProfile() {
       this.setDialogComponent({'component' : 'editprofile'})
    },
    ...mapActions({
    setDialogComponent : 'dialog/setComponent',
    }),

     getProfile: function () {
          const config = {
              method: "get",
              url: this.apiDomain + "/api/profile_user",
              headers: {
                'Authorization' : 'Bearer ' + this.token,
              },
          }

          this.axios(config)
              .then((response) => {
                  this.profile = response.data.data
                  
                  console.log(response.data.data)
              })
              .catch((error) => {
                  console.log(error)
              })
      },
  },
  created(){
      this.getProfile();
    }
}
</script>
