<template>
  <div class="welcome">
    <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Selamat Datang di Share-With-Us Med
        </h1>

        <p class="subheading font-weight-regular">
          Best way for Share, Care and Happy, kuy gabung dan rasakan keseruannya!
          <br> Silakan Login atau Register pada link di atas</p>

      </v-col>
    </v-row>
  </v-container>
  </div>
</template>